<!--preloader-->
<div class="preloader">
	<div class="spinner"></div>
</div>
<!--//preloader-->

<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/jquery.uniform.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/jquery.slicknav.min.js"></script>
<script src="js/scripts.js"></script>
<script>new WOW().init();</script>