<div class="nested-fields">
  <div class="form-group f-row ingredient">
    <div class="large"><%= f.text_field :name, :placeholder => "Ингредиент" %></div>
    <div class="small"><%= f.text_field :quantity, :placeholder => "Количество" %></div>
		<!-- <div class="third"><select><option selected="selected">Выбирете категорию</option></select></div> -->
  
    <%= link_to_remove_association "-", f, class: "remove button" %>
  </div>
</div>
