<!--main-->
<main class="main" role="main">
	<!--wrap-->
	<div class="wrap clearfix">
		<!--row-->
		<div class="row">
			<header class="s-title">
				<h1>Добавить новый рецепт</h1>
			</header>
			<!--content-->
			<section class="content full-width wow fadeInUp">
				<%= render 'form' %>
			</section>
			<!--//content-->
		</div>
		<!--//row-->
	</div>
	<!--//wrap-->
</main>
<!--//main-->

