<!--main-->
<main class="main" role="main">
	<!--wrap-->
	<div class="wrap clearfix">
		<!--row-->
		<div class="row">
			<!--content-->
			<section class="content center full-width wow fadeInUp">
				<div class="modal container">
					<form method="post" action="http://www.themeenergy.com/themes/html/social-chef/contact_form_message.php" name="contactform" id="contactform">
						<h3>Contact us</h3>
						<div id="message" class="alert alert-danger"></div>
						<div class="f-row">
							<input type="text" placeholder="Your name" id="name" />
						</div>
						<div class="f-row">
							<input type="email" placeholder="Your email" id="email" />
						</div>
						<div class="f-row">
							<input type="number" placeholder="Your phone number" id="phone" />
						</div>
						<div class="f-row">
							<textarea placeholder="Your message" id="comments"></textarea>
						</div>
						<div class="f-row bwrap">
							<input type="submit" value="Send message" />
						</div>
					</form>
				</div>
			</section>
			<!--//content-->
		</div>
		<!--//row-->
	</div>
	<!--//wrap-->
</main>
<!--//main-->