<body class="home">
		
	<!--main-->
	<main class="main" role="main">
		<!--intro-->
		<div class="intro">
			<figure class="bg"><%= image_tag("intro.jpg") %></figure>
			
			<!--wrap-->
			<div class="wrap clearfix">
				<!--row-->
				<div class="row">
					<article class="three-fourth text wow zoomIn" data-wow-delay=".2s">
						<h1>Добро пожаловать на SocialChef!</h1>
						<p>Любителям домашней и вкусной пищи посвещается этот <strong>кулинарный сайт SocialChef</strong>, где все рецепты собраны из жизни. Wanna know what you will gain by joining us? Lorem ipsum dolor sit amet, this is some teaser text.</p>
						<p>You will win awesome prizes, make new friends and share delicious recipes. </p>
						<a href="register.html" class="button white more medium">Join our community</a>
						<p>Already a member? Click <a href="login.html">here</a> to login.</p>
					</article>
					
					<!--search recipes widget-->
					<div class="one-fourth wow fadeInDown" data-wow-delay=".5s">
						<div class="widget container">
							<div class="textwrap">
								<h3>Поиск рецептов:</h3>
								<p>Простой поиск рецептов по ингридиентам или по названию блюда.</p>
								<p>Вы так же можете выбрать соответствующую категорию.</p>
								<p>Ищите!</p>
							</div>
							<form action="#">
								<div class="f-row">
									<input type="text" placeholder="Введите поисковое слово" />
								</div>
								<div class="f-row">
									<select>
										<option>Выбирете категорию</option>
										<option>Apetizers</option>
										<option>Cocktails</option>
										<option>Deserts</option>
										<option>Main courses</option>
										<option>Snacks</option>
										<option>Soups</option>
									</select>
								</div>
								<div class="f-row bwrap">
									<input type="submit" value="Начать готовить!" />
								</div>
							</form>
						</div>
					</div>
					<!--//search recipes widget-->
				</div>
				<!--//row-->
			</div>
			<!--//wrap-->
		</div>
		<!--//intro-->
		
		<!--wrap-->
		<div class="wrap clearfix">
			<!--row-->
			<div class="row">
				<!--content-->
				<section class="content full-width">
					<div class="icons dynamic-numbers">
						<header class="s-title wow fadeInDown">
							<h2 class="ribbon large">SocialChef in numbers</h2>
						</header>
					
					</div>
				</section>
				<!--//content-->
			
				<!--content-->
				<section class="content three-fourth">
					<!--cwrap-->
					<div class="cwrap">
						<!--entries-->
						<div class="entries row">
							<!--featured recipe-->
							<div class="featured two-third wow fadeInLeft">
								<header class="s-title">
									<h2 class="ribbon">Рецепт Дня</h2>
								</header>
								<article class="entry">
									<figure>
										
										<figcaption><a href="recipe.html"><i class="ico i-view"></i> <span>Просмотреть рецепт</span></a></figcaption>
									</figure>
									<div class="container">
										
										<div class="actions">
											<div>
												<a href="#" class="button">Рецепт полностью</a>
												<div class="more"><a href="recipes2.html">See past recipes of the day</a></div>
											</div>
										</div>
									</div>
								</article>
							</div>
							<!--//featured recipe-->

							<!--featured member-->
							<div class="featured one-third wow fadeInLeft" data-wow-delay=".2s">
								<header class="s-title">
									<h2 class="ribbon star">Featured member</h2>
								</header>
								<article class="entry">
									<figure>
										<%= image_tag("avatar2.jpg") %>
										<figcaption><a href="my_profile.html"><i class="ico i-view"></i> <span>View member</span></a></figcaption>
									</figure>
									<div class="container">
										<h2><a href="my_profile.html">Kimberly C.</a></h2>
										<blockquote>Traditional dishes and fine bakery products accompanied by beautiful photographs to bend around and attract the tryout! Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</blockquote>
										<div class="actions">
											<div>
												<a href="#" class="button">Check out her recipes</a>
												<div class="more"><a href="#">See past featured members</a></div>
											</div>
										</div>
									</div>
								</article>
							</div>
							<!--//featured member-->
							</div>
							</div>
							</section>
							</div>
							</div>
							</main>
						<!-- 	</body> -->
				

