<!--footer-->
<footer class="foot" role="contentinfo">
	<div class="wrap clearfix">
		<div class="row">
			<article class="one-half">
				<h5>О нас</h5>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci.</p>
			</article>
			<article class="one-fourth">
				<h5>Нужна помощь?</h5>
				<p>Contact us via phone or email</p>
				<p><em>T:</em>  +1 555 555 555<br /><em>E:</em>  <a href="#">socialuser@email.com</a></p>
			</article>
			<article class="one-fourth">
				<h5>Присоединяйтесь</h5>
				<ul class="social">
					<li class="facebook"><a href="#" title="facebook">facebook</a></li>
					<li class="youtube"><a href="#" title="youtube">youtube</a></li>
					<li class="rss"><a href="#" title="rss">rss</a></li>
					<li class="gplus"><a href="#" title="gplus">google plus</a></li>
					<li class="linkedin"><a href="#" title="linkedin">linkedin</a></li>
					<li class="twitter"><a href="#" title="twitter">twitter</a></li>
					<li class="pinterest"><a href="#" title="pinterest">pinterest</a></li>
					<li class="vimeo"><a href="#" title="vimeo">vimeo</a></li>
				</ul>
			</article>
			
			<div class="bottom">
				<p class="copy">Copyright 2016 Socialuser. Все права защищены</p>
				
				<nav class="foot-nav">
					<ul>
						<li><%= link_to 'Главная', root_path, :title => "Главная" %></li>
						<li><a href="recipes.html" title="Recipes">Рецепты</a></li>
						<li><a href="blog.html" title="Blog">Статьи</a></li>
						<li><a href="contact.html" title="Contact">Контакты</a></li>    
						<li><a href="find_recipe.html" title="Search for recipes">Поиск рецептов</a></li>
						<li><%= link_to 'Войти', new_user_session_path, :title => "Войти" %></li>	
						<li><%= link_to 'Регистрация', new_user_registration_path, :title => "Регистрация" %></li>												
					</ul>
				</nav>
			</div>
		</div>
	</div>
</footer>
<!--//footer-->